<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>影片名称</th>
        <th>价格</th>
        <th>购买者</th>
       </tr>
    </thead>

    <tbody id = "ticketTable">
      <% if @tickets %>
        <%=render @tickets%>
      <% end %>
    </tbody>
  </table>
</div>