  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>邮件</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>