<nav class="navbar navbar-default" role="navigation">
	<ol class="breadcrumb">
	  <li><%= link_to 'single商品',products_path %></li>
	  <li><%= link_to 'single新建商品',new_product_path %></li>
	  <li><%= link_to 'multiple商品','#' %></li>
	  <li><%= link_to 'multiple新建商品',new_gallery_path %></li>
	 </ol>
 </nav>